html, body				{ margin: 0; }
body					{ font-family: sans-serif;
					  padding-top: 4rem;
					  padding-bottom: 1rem;
					  position: relative; }
a					{ color: blue; }
body > header				{ position: fixed;
					  top: 0;
					  left: 0;
					  line-height: 2rem;
					  background-color: #3d3d3d;
					  z-index: 10;
					  color: #ccc;
					  width: 100%; }
body > header a				{ color: #fff;
					  text-decoration: none; }
footer					{ text-align: center;
					  padding: 1rem 0;
					  font-size: smaller; }
.table					{ width: 100%; 
					  max-width: 88rem;
					  margin-right: auto;
					  margin-left: auto; }
h1					{ font-size: inherit;
					  text-align: center; }
h1 a, h1 span				{ display: inline-block;
					  margin: 0 0.3rem; }
.singleton				{ width: calc(100% - 1rem);
					  max-width: 66rem;
					  margin-right: auto;
					  margin-left: auto; }
div.table > :nth-child(odd)		{ background-color: #f0f0f0; }
div.table > :first-child		{ display: none;
					  background-color: #666;
					  font-weight: bold;
					  text-shadow: 0 0 #000;
					  color: #fff; }
.report-pass				{ color: green; }
.report-fail				{ color: red; }
.row					{ padding: 0.5rem;
					  white-space: nowrap; 
					  text-overflow: hidden;
				  	  overflow: hidden; }
.row.notnewest				{ opacity: 0.5; }
.cell					{ padding: 0.25rem 0; }
.head, .cell				{ display: inline-block;
					  width: 4rem; }
.cell + .cellgroup,
.cellgroup + .cell,
.head + .head, 
.cell + .cell				{ padding-left: 0.5rem; }
.head.report-newest,
.cell.report-newest			{ width: 11rem; }
.head.report-commit,
.cell.report-commit			{ width: 6rem; }
.head.project-name,
.cell.project-name			{ width: 7rem; }
.head.report-successrate,
.cell.report-successrate		{ width: 3rem;	
	  				  text-align: right; }
.head.report-commit,
.cell.report-commit			{ display: none; }
.head.report-passfail,
.cell.report-passfail			{ width: 0.5rem; }
.head.report-finished-pct,
.cell.report-finished-pct		{ text-align: right; }
.head.report-start,
.cell.report-start			{ width: 6rem; }
.lefthead.report-commit,
.cell.report-commit			{ font-family: monospace;
					  font-size: 8pt; }
.cell.report-successrate::after,
.cell.report-finished-pct::after	{ content: '%';
					  opacity: 0.5; }
.lefthead.project-name::after,
.lefthead.report-id::after		{ content: ','; }
.report-id::before			{ content: '#';
					  opacity: 0.5; }
.cellgroup				{ display: none; }
.cellgroup .cell			{ flex: 1; }
.cellgroup .cell::before		{ display: block;
					  padding-right: 0;
					  opacity: 0.5;
					  padding-bottom: 0.25rem;
					  width: auto; }
.leftgroup time::after,
.cellgroup .cell time::after		{ content: ' s.';
					  opacity: 0.5; }
.leftgroup span::after,
.cellgroup .cell span::after		{ content: '-';
					  color: red; }
.report-log				{ white-space: pre;
					  overflow: hidden;
					  font-family: monospace;
					  padding: 0.5rem;
					  background-color: #f4f4f4;
					  margin: 0.5rem 0;
					  font-size: 8pt;
					  text-overflow: ellipsis; }
.lefthead.report-system-ext		{ opacity: 0.7; }
.lefthead.project-name			{ padding: 0 0.3rem; }
.lefthead.project-repo::before		{ content: 'commit:'; }
.lefthead.report-env::before		{ content: 'Env: '; }
.lefthead.report-deps::before		{ content: 'Config: '; }
.lefthead.report-build::before		{ content: 'Build: '; }
.lefthead.report-regress::before	{ content: 'Test: '; }
.lefthead.report-install::before	{ content: 'Install: '; }
.lefthead.report-dist::before		{ content: 'Check: '; }
.leftgroup				{ margin: 1rem 0; }
.leftgroup .lefthead::before		{ opacity: 0.5;
					  width: 5rem;
					  text-align: right;
					  display: inline-block;
					  padding-right: 0.25rem; }
.report-pending				{ text-align: center; }
.report-failure::before			{ content: 'Report failure.';
					  color: red; }
.report-success::before			{ content: 'Report success.';
					  color: green; }
.report-failure, .report-success	{ margin: 1rem 0; }
.report-log-box::before			{ content: 'Tail of failure log...';
					  display: block;
					  opacity: 0.5; }
.report-log-link::before		{ content: 'Full log.'; }

@media (min-width: 80rem) {
  h1					{ text-align: left; }
  div.table > :first-child,
  .row					{ display: flex;
	  			  	  padding: 0; }
  .head, .cell				{ padding: 0.5rem 1rem; }
  .report-system			{ flex: 1; }
  .head.report-commit,
  .cell.report-commit			{ display: inline-block; }
  .head.project-name::before		{ content: 'project'; }
  .head.report-finished-pct::before	{ content: 'fresh'; }
  .head.report-pending::before		{ content: 'done'; }
  .head.report-start::before		{ content: 'date'; }
  .head.report-env::before		{ content: 'env'; }
  .head.report-deps::before		{ content: 'config'; }
  .head.report-build::before		{ content: 'build'; }
  .head.report-regress::before		{ content: 'test'; }
  .head.report-install::before		{ content: 'install'; }
  .head.report-dist::before		{ content: 'check'; }
  .head.report-commit::before		{ content: 'commit'; }
  .head.report-system::before		{ content: 'system'; }
  .head.report-newest::before		{ content: 'latest (GMT)'; }
  .cellgroup				{ display: flex; }
}

@media (prefers-color-scheme: dark) {
  body					{ background-color: #4d4d4d;
					  color: #eee; }
  div.table > :nth-child(odd)		{ background-color: #6d6d6d; }
  a					{ color: yellow; }
  .report-pass,
  .report-success::before		{ color: rgb(50, 255, 50); }
  .report-fail,
  .report-failure::before,
  .cellgroup .cell span::after		{ color: rgb(255, 50, 50); }
  .report-log				{ background-color: #000; }
}

.projtable .project-name		{ display: none; }
.unametable .report-system		{ display: none; }
.datetable .report-start		{ display: none; }
